/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: #DEF2F1;
    color: #17252A;
}
.container {
    padding-top: 20px;    
}
h3 {
    padding-top: 30px;
}

.table {
    margin-top: 30px;
    border: 1px solid #2B7A78;
}
thead {
    border: #2B7A78;
}

.navbar-nav li a {
    line-height: 60px;
    height: 60px;
    padding-top: 0;
    font-size: 150%;
    font-weight: bold;
    padding-right: 15px;
    padding-left: 15px;
}
a.navbar-brand {
    font-family: 'Pacifico', cursive;
    color: #FEFFFF !important;
    line-height: 54px;
    height: 60px;
    padding-top: 0;
    padding-right: 100px;
    font-size: 190%;
    text-decoration: none;
    
}
a.navbar-brand a:hover, a.navbar-brand a:active {
        color: #17252A !important;
    }
a.navbar-brand.active a {
        color: #000 !important;
    }

ul.nav li a, ul.nav li a:visited {
    color: #DEF2F1 !important;
    
}

    ul.nav li a:hover, ul.nav li a:active {
        color: #17252A !important;
        
    }

ul.nav li.active a {
    color: #17252A !important;
    background-color: #DEF2F1 !important;
}
.lis {
    margin-bottom: 5px;
    margin-left: 5px;
}
.to_right {
    float: right;
}
/*
.navbar a:link {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    color: black;
    text-decoration: none;
}

.navbar a:active{
    color: red;
    text-decoration: none;
}
    */
.navbar-custom {
    background-color: #3AAFA9;
    border: none;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
