@model IEnumerable<Items.Models.Item>

@{
    ViewData["Title"] = "Haku";
}


<h2>Hae</h2>

<form asp-controller="Home" asp-action="Hae">
    <p>
        Hakusana: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemLocation)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemLocation)
                </td>
            </tr>
        }
    </tbody>
</table>


