@model IEnumerable<Items.Models.Item>

@{
    ViewData["Title"] = "Home Page";
}

<h3>Etsi tavara</h3>

<form asp-controller="Home" asp-action="Hae">
    <p>
        Hakusana: <input type="text" name="SearchString">
        <input type="submit" value="Etsi" />
    </p>
</form>






<table class="table">
    <thead>
        <tr>
            <th>
                Tavaran numero
            </th>
            <th>
                Nimi
            </th>
            <th>
                Paikka
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemLocation)
            </td>
        </tr>
        }
    </tbody>
</table>



