@model IEnumerable<Items.Models.Item>
@{
    
}

<h3>@ViewData["Message"]</h3>


<p>Tavara nimeltä "@ViewData["ItemName"]" on lisätty.</p>
<div class="panel-footer add-item-form">
    @await Html.PartialAsync("Lis")
</div>


