@model IEnumerable<Items.Models.Item>
@{
    
}


<h3>Tavara on poistettu.</h3>

<p>Tavara numero @ViewData["ItemId"] nimeltä "@ViewData["Tavara"]" on poistettu.</p>

<div class="panel-footer add-item-form">
    <h3>Poista tavara</h3>

    <form asp-controller="Home" asp-action="Poista">
        <p>
            Poista tavara, jonka numero on <input type="text" name="itemId">
            <input type="submit" value="Poista" />
        </p>
    </form>
</div>

